@font-face {
    font-family: 'BonaNova';
    src: url('../fonts/BonaNova-Regular.otf');
}
h1 {
    font-weight: bold;
    letter-spacing: 1.5px;
    margin: 55px 0px;
}
h3{
    text-align: center;
    line-height: 39px;
}
h1.main-header{
    padding:60px 0px;
}
// h2.main-header{
//     padding:60px 0px;
// }
a{
    color: $black;
    position: relative;
}
button{
    letter-spacing: 2px;
}
.p-center{
    text-align: center;
}