a{
    padding:0;
    margin:0;
}
a.a-basic{
    margin-top:40px;
    padding: 10px 55px;
    border: none;
    background: $main_white;
    color: $main_red;
    font-size: 1.3em;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    &:hover{
        text-decoration: none;
    }
}
.btn-basic {
    margin: 0 auto;
    padding: 15px;
    padding: 10px 55px;
    border-radius: 5px;
    border: none;
    background: $main_white;
    color: $main_red;
    font-size: 1.3em;
    cursor: pointer;
    margin-top: 30px;
    font-weight: bold;
    // display: flex;
    // justify-content: space-between;
    img {
        width: 35px;
        height: 35px;
        margin-left: -15px;
        margin-right: 15px;
    }
}

.border-white {
    border: 2px solid white;
    background: transparent;
    border-radius: 0px;
    color: $main_white;
    height: 80px;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-basic{
    // margin-top:8%;
    .box-basic{
        border:2px solid $lighter_red;
        color: $lighter_red;
        cursor: pointer;
        &:hover{
            border:3px solid $main_red;
            color: $main_red;
        }
    }
    .donate{
        padding: 20px 50px 50px 50px;
        // padding:50px;
        button.donate-pay{
            margin:0 auto;
            display: block;
            padding:12px;
            min-width:140px;
            color: $main_white;
            background: $main_red;
            border:none;
            border-radius: 3px;
            text-transform: uppercase;
            cursor: pointer;
        }
        p{
            font-size:1em;
            color: $black;
            margin-top:20px;
        }
        img{
            width:70px;
            display: block;
            margin: 0 auto;
        }
        .box-container{
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
            .box-basic{
                margin-top:20px;
                width:110px;
                height:110px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size:1.4em;
                font-weight: bold;
            }
        }
    }
    .modal{
        &-content{
            border-radius:0;
            border:none;
        }
        &-header{
            // background:$main_red;
            border-bottom:none;
            border-radius:0;
            padding-bottom:0;
            button{
                color:white;
                img{
                    width:40px;
                }
            }
            button.close{
                opacity:1;
            }
        }
    }
}
.input-basic{
    padding:10px;
    margin: 20px 0px;
    border: 1px solid $lighter_red;
    max-width:200px;
}
.input-group{
    display: flex;
    flex-wrap: nowrap;
}