//COLORS
$main_red: #F40543;
$lighter_red: #D9999F;
$main_white: #fefdff;
$main_text: #1E1B18;
$black: #03141C;
$gray: #8B8B86;

// @import 'base/variables';
// @import 'base/typo';
// @import 'base/layout';
// @import 'base/ui';