.landing-wrapper {
    height: 100%;
    &-mainpic {
        img {
            width: 100%;
        }
    }
    &-presidentpdf {
        position: relative;
        padding-top: 140px;
        &-btngroup {
            padding: 10px;
            position: absolute;
            left: 0;
            right: 0;
            top: -50px;
            background: $main_red;
            display: flex;
            button {
                flex: 1;
                margin: 15px;
                margin: 20px 30px;
            }
        }
        div {
            max-width: 1000px;
            margin: 0 auto;
            text-align: center;
        }
        height: 100%;
        h1,
        h2,
        h3 {
            text-align: center;
            color: $main_white;
        }
    }
}