<div class="mainVid grid-container">
     <div>
          <h3>O reprywa-tyzacji</h3>  
          <div class="content">Na specjalnej sesji Rady Warszawy poświęconej reprywatyzacji my, ruch lokatorski musieliśmy czekać stłoczeni jak bydło na galerii przez 7 godzin. Kiedy wreszcie wszedłem na mównicę powiedziałem co sądzimy o całej aferze i o roli jaką spełniła w niej Hanna Gronkiewicz-Waltz</div>   
     </div>
     <iframe src="https://www.youtube.com/embed/nKhSK24o4U0?showinfo=0&modestbranding=1&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>