{% block content %}
<div class="full-width presidentpdf">
    <div>
        <h1>Piotr Ikonowicz – kandydat na prezydenta Warszawy</h1>
        <a class="a-basic" href="https://www.docdroid.net/VfvfVc7/miasto-nie-wyklucza.pdf" target="_blank">Zobacz program</a>
    </div>
    
</div>
{% endblock %}