{% block content %}
<div class="full-width presidentpdf">
    <div>
        <h1>Piotr Ikonowicz – kandydat na prezydenta Warszawy</h1>
        <a class="a-basic" href="https://drive.google.com/file/d/1oBPNO6u6e-4yZmmd7vcPmRnFkP9Opz_P/view?usp=sharing" target="_blank">Zobacz program</a>
    </div>
    
</div>
{% endblock %}