{% block content %}
<div class="full-width presidentpdf">
    <div>
        <h1>Piotr Ikonowicz - kandydat na prezydenta Warszawy</h1>

        <h3>Wizja miasta Piotra Ikonowicza, kandydata Ruchu Sprawiedliwości Społecznej na urząd prezydenta Warszawy.</h3>
        <a class="a-basic" href="http://docdro.id/VuPWPpR" target="_blank">Zobacz program</a>
    </div>
</div>
{% endblock %}