{% block content %}
<section>
    <div class="main-section">
        <h1 class="main-header">Piotr Ikonowicz dla Warszawy</h1>
        <div class="num-container">
            <div class="number">
                <span>1</span>
                <span class="sub">postulat</span>
            </div>
            <p>Tworzymy Ruch Oporu Przeciw Reprywatyzacji. Nie zamierzamy już oddać żadnej kamienicy. Zbierzemy 100 000 podpisów pod obywatelskim projektem ustawy o wygaśnięciu roszczeń reprywatyzacyjnych. </p>
        </div>
        <div class="num-container">
            <div class="number">
                <span>2</span>
                <span class="sub">postulat</span>
            </div>
            <p>Dla wielu Warszawiaków Warszawa stała się już za droga. W odpowiedzi na rosnące koszty utrzymania w stolicy proponujemy, aby niepełnosprawni mieszkańcy o najniższych dochodach dostali od warszawskiego samorządu dodatek drożyźniany,
                czy jak kto woli „warszawski” w kwocie 300 zł. miesięcznie. 
            </p>
        </div>

        <div class="num-container">
            <div class="number">
                <span>3</span>
                <span class="sub">postulat</span>
            </div>
            <p> Warszawa, którą chcę stworzyć to miasto, z którego młodzież nie emigruje z powodu braku perspektyw na zdobycie mieszkania. W tym celu miasto wybuduje mieszkania komunalne z tanim czynszem, które będą mogły wynajmować młode osoby już przy pierwszym zatrudnieniu. </p>
        </div>
    </div>
</section>
{% endblock %}