<section>
  <div class="main-section videolist-recent">

    <h2 class="main-header">Aktualności</h2>
    {# <ul>
        <li class="prev">1</li>
        <li class="next">2</li>
    </ul> #}
    <div class="vid-tape">
    </div>

  </div>

</section>