<section>
  <div class="main-section videolist-recent">

    <h2 class="main-header">Aktualności</h2>

    <div class="vid-tape">
     {# when the vid tape comes in #}
    </div>

  </div>

</section>