<section>
  <div class="main-section videolist-recent">

    <h2 class="main-header">Aktualności</h2>

    <div class="videosrecent-cont">
      <div class="videosrecent-cont-layer"></div>

        <div class="videosrecent-cont-flex">
          <div class="videosrecent-cont-text">

          <h4 class="vidrec-title"></h4>
          <p class="vidrec-desc"></p>

      </div>
          <div class="videosrecent-cont-video" id="video-player">
            {# <iframe width="100%" height="600" src="" frameborder="0" allow="autoplay; encrypted-media" id="main-vid" allowfullscreen></iframe> #}
          </div>
        </div>


        <div class="videosrecent-cont-vidtape">

      </div>
    </div>

  </div>

</section>