{% block content %}
<div id="volunteer" class="modal fade popup-basic" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><img src="images/icons/cancel.svg"></button>
        </div>
        <div class="modal-body donate">
             <p class="p-center">
                <span>Chcesz zostać wolontariuszem? </span>
                <p>
                    Zapraszamy do współpracy w sztabie wyborczym Piotra Ikonowicza i Ruchu Sprawiedliwości Społecznej.
                </p>
                <p>
                    Chętnych prosimy o kontakt telefoniczny z biurem – <b>22 400 63 68</b>
                </p>
                <p>
                    Zapraszamy również na cotygodniowe spotkania w środę o godz. 18 – <b>ul. Elektoralna 26, Warszawa</b>
                </p>
                <p>
                    Jeżeli jestes spoza Warszawy, napisz do nas : 
                </p>
                <p class="account">
                    inicjatywa.rss@gmail.com
                </p>
             </p>
        </div>
        </div>
    
    </div>
</div>
{% endblock %}