{% block content %}
<div id="donate" class="modal fade popup-basic" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><img src="images/icons/cancel.svg"></button>
        </div>
        <div class="modal-body donate">
            <p>
             Niestety jeszcze nie możesz dokonać wpłaty na nasz fundusz wyborczy, bo nie ogłoszono oficjalnie początku kampanii, a my jeszcze nie utworzyliśmy konta wyborczego.
             </p>
             <p>Możesz nam pomóc swą pracą społeczną. Zajrzyj do zakładki 'wolontariat' lub 'dołącz'</p>
            {# <div class="box-container">
                <div class="box-basic">10 <span>zł</span></div>
                <div class="box-basic">20<span>zł</span></div>
                <div class="box-basic">30<span>zł</span></div>
            </div> #}
            {# <button class="donate-pay">zapłać</button> #}
            {# Prosimy kierować wpłaty na konto Ruchu Sprawiedliwści Społecznej : #}
            {# <p class="account">
             22 1020 1013 0000 0102 0328 2613
            </p> #}
        </div>
        </div>
    
    </div>
</div>
{% endblock %}