{% block content %}
<div id="donate" class="modal fade popup-basic" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><img src="images/icons/cancel.svg"></button>
        </div>
        <div class="modal-body donate">
            <p>
             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
             </p>
            <div class="box-container">
                <div class="box-basic">10 <span>zł</span></div>
                <div class="box-basic">20<span>zł</span></div>
                <div class="box-basic">30<span>zł</span></div>
            </div>
            <button class="donate-pay">zapłać</button>
        </div>
        </div>
    
    </div>
</div>
{% endblock %}