.news{
     padding-top:80px;
     padding-bottom:100px;
     img{
          display: block;
          max-width:100%;
     }
     @media only screen and (max-width: $phone) {
          padding: 50px 15px 80px 15px;
     }
}