.videolist-recent{
    padding-bottom: 50px;
	padding-top:30px;
	.videosrecent-cont{
		position: relative;
		padding-bottom:50px;
		&-layer{
			position: absolute;
			height:100%;
			width:57%;
			background: $main_red;
			margin:0 auto;
			left:0;right:0;
			z-index:-1;
			-webkit-box-shadow: -1px 0px 43px -10px rgba(51,50,51,1);
			-moz-box-shadow: -1px 0px 43px -10px rgba(51,50,51,1);
			box-shadow: -1px 0px 43px -10px rgba(51,50,51,1);
		}
		&-text{
			margin:0 auto;
			width:50%;
			padding:30px 30px 15px 30px;
			color: $main_white;
			.vidrec-title{
				text-align: left;
				margin-bottom:20px;
				line-height: 32px;
			}
			.vidrec-desc{
				font-size:.9em;
				padding: 10px 0px;
			}

		}
		&-video{
			margin:0 auto;
			display: flex;
			justify-content: center;
		}
		&-vidtape{
			margin-top:100px;
			display: flex;
			justify-content: space-between;
			.vid-frame{
				max-width:350px;
				position: relative;
				&-desc{
					position: absolute;
					bottom:0;
					display:inline-block;
					color:white;
					background: $main_red;
					opacity:0;
					padding:15px;
					transition: .5s all;
					height:130px;
					font-size:.8em;
					margin-bottom:0px;
				}
				&:hover{
					.vid-frame-desc{
						opacity:1;
						transition: .5s all;
					}
				}
			}
		}

	}

    &-infobox{
        overflow-y: scroll;
        height:300px;
        p{
            font-family: "BonaNova";
            padding-top:10px;
            max-width: 250px;
            font-size:1.2em;
        }
        &-header{
            max-width: 250px;
            h4{
                color: $main_red;
                font-weight: bold;
                border:1px solid $lighter_red;
                border-style: none none solid none;
                padding-bottom:10px;
                text-transform: uppercase;
            }
            .subheader{
                color: $lighter_red;
                font-size: 0.9em;
            }
        }
    }
    &-video{
        padding-top:10px;
        padding-left:30px;
    }
}
.player-video-list{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-right:15px;
    &-header{
        text-transform: uppercase;
        margin-bottom:30px;
        padding-left:15px;
    }
    .videolist-recent-infobox{
        min-height:70px;
        max-width: 250px;
        display: flex;
        cursor: pointer;
        margin-bottom: 15px;
         h5{
                color: $main_red;
                font-weight: bold;
                border:1px solid $lighter_red;
                border-style: none none solid none;
                padding-bottom:10px;
                text-transform: uppercase;
            }
             .subheader{
                color: $lighter_red;
                font-size: 0.9em;
            }
        }
        .active-box{
             .subheader{
                color: $black;
                font-size: 0.9em;
            }
            h5{
                color:$black;
                border-color: $black;
            }
        }
    }
.playlist{
        .videolist-recent-video{
            padding-top:30px;
        }
}
