.videolist-recent{
    padding-bottom: 0px;
    padding-top:30px;
    width:100%;
    .yt-channel-btn{
        text-align:center;
        margin: 0 auto;
        display: block;
        max-width:210px;
        padding: 10px 30px;
        margin-top:40px;
        margin-bottom: 0px;
        border-radius:5px;
        background: $main-red;
        color:white;
        font-size:1.2rem;
        white-space: nowrap;
        transition: .5s all;
        &:hover{
            text-decoration: none;
            opacity:0.6;
            transition: .5s all;
        }
    }
    .swiper-slide{
        iframe{
            max-width: 900px;
            }
    }
    .item-video{
        // height:400px;
        width:750px;
    }
    h2{
        font-size:2.6rem;
        margin-bottom:0px;
    }
}

@media only screen and (max-width: $laptop) {
    .videolist-recent{
        padding:0;
        h2{
            margin-bottom:20px;
            margin-top:40px;
            margin-bottom:20px;
        }
        .swiper-container{
            height:550px;
            // width:90%;
            .swiper-slide{
                // width:790px!important;
                iframe{
                    max-width: 600px;
                    height:700px;
                }
                .desc{
                    margin:30px 0;
                }
                p{
                    font-size:.95rem;
                    line-height:25px;
                }
                span{
                    padding-top:10px;
                }
            }
        }
    }
}
@media only screen and (max-width: $small-laptop) {
    .videolist-recent{
        h2{
            margin-bottom:20px;
        }
    }
    .swiper-slide{
        p{
            font-size:1.1rem;
            line-height:29px;
        }
        .desc{
            // height:320px!important;
        }
    }
}