.slick{
    &-track{
    height:500px;
    }
    &-slide{
        backface-visibility: hidden;
        width:1200px;
        background: black;
        img{
            margin:0 auto;
            height:670px;
            margin-top:-85px;
            // width:100%;
            // display: none;
        }
        .vid-info{
            color:red!important;
            display: inline;
            opacity:1;
            border:1px solid red;
        }
    }
    
}
ul.slick-dots{
    margin-bottom:-20px;
}
.slick-dots li{
    margin: 15px 15px 0 0;
    button:before{
        font-size:15px;
    }
}
.slick-center {
}
.slick-arrow{
    z-index:11111;
}
.slick-next{
    right:100px;
}
.slick-prev{
    left:100px;
}
.slick-next:before{
    content: '›';
}
.slick-prev:before{
    content: '‹';
}
.slick-prev:before, .slick-next:before{
    font-size:120px;
    color: $main-red;
    line-height:0;
}