
<h3>Pieniądze są dla frajerów</h3>

<p>Większość swojego czasu spędzam na obcowaniu z innymi ludźmi. Na pracy społecznej. Z punktu widzenia kapitalizmu zachowuję się nieracjonalnie. Nie pożądam jednak dóbr materialnych. Wolę raczej przeżywać głęboko każdą minutę swojego życia. Chcę, żeby miało ono znaczenie. Życie samo w sobie wydaje mi się niesamowitym darem, szaleńczą, zawrotną przygodą. A przygody tylko wtedy mają sens i smak, gdy się je przeżywa z innymi.</p>