
<h3>Mamy co robić</h3>

<p>Zadzwonił pan Wacław (74 lata) z Wrocławia. Uległ wypadkowi drogowemu i pół roku spędził w szpitalu. Tymczasem dług czynszowy rósł. Po wyjściu ze szpitala nie był w stanie pracować więc żył z zasiłków z pomocy społecznej po 400-500 zł miesięcznie.  Co miesiąc na poczet czynszu płaci 100 zł. Bo tylko tyle może. Do wypracowania okresów składkowych uprawniających do emerytury brakuje mu 7 miesięcy pracy.</p>