
<h3>Walczymy z podłością</h3>

<p>Pani Magdalena Wieczorek wraz z mężem i dwójką dzieci musieli uciekać z mieszkania. To był już trzeci pożar w tej kamienicy na warszawskiej Pradze, przy ul. 11 listopada.  Miasto umieściło ich w dawnym hotelu robotniczym, ale już 27 czerwca mają wracać do siebie. Tylko, ze nie chcą. Dzieci płaczą bo owo „u siebie” to 10 metrów kwadratowych na cztery osoby bez toalety.</p>