
<h3>Reprywa tyzacja: ułaskawienia nie będzie</h3>

<p>Strach. Bezradność. Niedowierzanie. To pierwsze uczucia jakie towarzyszą informacji, że budynek, w którym mieszkają nie należy już do miasta tylko do prywatnego właściciela.  Kiedy w 1995 roku prezentowałem w Sejmie w imieniu Polskiej Partii Socjalistycznej projekt ustawy o wygaśnięciu roszczeń reprywatyzacyjnych nawet nam się nie śniło, że sądy do spółki z samorządami będą oddawać kamienice z lokatorami potomkom przedwojennych właścicieli. </p>