footer{
    .main-section{
        position: relative;
        margin:0 auto;
        .footer-contact{
            padding-left:40px;
            a{
                transition: .5s all;
                &:hover{
                    opacity:.6;
                    transition: .5s all;
                }
                &:hover{
                    opacity:.6;
                    transition: .5s all;
                }
            }
        }
        &-footer{
            display: flex;
            justify-content: flex-end;
            margin:0 auto;
            margin-right:20px;
            // width:80%;
            &-group{
                width:350px;
                padding: 115px 20px 0px 20px;
                span{
                    color: $gray;
                    line-height: 28px;
                    p{
                        text-transform: none;
                        color: $gray;
                        margin:5px 0 5px 0;
                    }
                    img{
                        width:35px;
                        margin-right:12px;
                        margin-top:20px;
                    }
                }
                p{
                    // text-align: center;
                    text-transform: uppercase;
                    color:white;
                }
            }
        }
        .logo-holder{
            position: absolute;
            top:0;
            left:0;
            background: $main_red;
            width:130px;
            height:90px;
            padding:8px;
            padding-top:23px;
            span{
                color:white;
                text-transform: uppercase;
                font-size:15px;
                width:100%;
                display: block;
                // font-weight: bold;
                // letter-spacing: 1px;
                text-align: center;
            }
            span.name{
                // letter-spacing: 7px;
                margin-left:3px;
                margin-bottom:2px;
            }
        }
        .main-links{
            position: absolute;
            color:white;
            bottom:30px;
            left:0;
            right:0;
            display: flex;
            justify-content: space-around;
        }
    }
}