{% extends "layouts/default.njk" %}
    {% block content %}
        <div class="grid-container aboutme">

            <h1><span>0</span> mnie</h1>

            <p>Urodziłem się 14 maja 1956 roku w Pruszkowie, ale nigdy tam nie mieszkałem. Wychowałem się na Muranowie przy Placu Bohaterów Getta. Pamiętam jeszcze jak w ramach akcji „podaj cegłę” odgruzowywaliśmy teren byłego więzienia zwanego Gęsiówką. Zresztą zabawa w ruinach i kanałach to największe przygody mojego dzieciństwa. Kiedy znajdowaliśmy jakieś stare, zardzewiałe karabiny, oddawaliśmy je na złom i mieliśmy mnóstwo forsy na oranżadę w proszku. 
            </p>
            <p>W wieku 16 lat rozpocząłem działalność opozycyjną. Co środa przez kilka lat w moim mieszkaniu odbywały się spotkania kółka socjalistycznego i aż do pierwszych zatrzymań nie mieliśmy pojęcia, że prywatne rozmowy o socjalizmie są nielegalne. Jeszcze w liceum, a uczęszczałem do Reya, podjęliśmy z kolegą próbę wydania pisma szkolnego społeczno-politycznego, ale pierwszy numer odwaliła cenzura. Mieli taki stempel „nie widzimy celowości”. Wtedy zacząłem działać w opozycji. Moją pierwszą pracą było przepisywanie na matrycach do samizdatu tekstów Sołżenicyna. „Jeden dzień Iwana Denisowicza” przepisywałem z dzienników Polityki z czasów politycznej odwilży 1956-57.
            </p>
            <p> 
            Pierwsze aresztowanie było trochę przypadkowe. Po prostu w 1976 roku, kiedy zdałem na studia na Wydziale Ekonomii Uniwersytetu Warszawskiego,miałem w czerwcu praktyki robotnicze w Ursusie. Zgarnęli mnie razem z „warchołami”, którzy spawali wagony do torów. Na szczęście przesiedziałem tylko wakacje, a w procesie rewizyjnym wyciągnął mnie z pudła wybitny adwokat Zdzisław Czeszejko-Nowacki.  
            Gdy wybuchła „Solidarność” pracowałem już w Polskiej Agencji Prasowej, wraz z grupą młodych dziennikarzy przeszliśmy do Biura Informacyjnego Regionu Mazowsze NSZZ „Solidarność”. Obserwowałem z bliska dzianie się historii, gdyż obsługiwaliśmy wszystkie posiedzenia Komisji Krajowej Związku. Potem jeszcze przywiozłem z Gdańska uchwałę Komisji Krajowej o strajku generalnym, ale większość zakładów była już spacyfikowana. Dostarczyłem uchwałę tylko do Huty Warszawa, otoczonej już przez kordon ZOMO.  
            </p>
            <p>
            Stan wojenny spędziłem na drukowaniu, siedzeniu po aresztach. Internowany zostałem dopiero 8 maja 1982 r. za to, że organizowałem niezależne obchody Święta Pracy. Rozpoznano mnie ze zdjęć robionych przez milicję z helikoptera. Wcześniej bo już 17 grudnia 1981 aresztowano mnie za kolportaż nielegalnych wydawnictw. Tworzyliśmy wtedy Grupę Polityczną „Robotnik” i wydawaliśmy pismo pod takim właśnie tytułem, które było jednocześnie organem MRK”S” (Międzyzakładowego Robotniczego Komitetu „Solidarności”). 
            </p>
            <p>
            W 1987 r. z inicjatywy tej właśnie Grupy Politycznej „Robotnik” wraz z takimi legendami opozycji i „Solidarności” jak Józef Pinior, Jan Józef Lipski, odtworzyliśmy w kraju Polską Partię Socjalistyczną. Działo się to jeszcze w  warunkach konspiracyjnych. Na zjazd założycielski Służba Bezpieczeństwa wtargnęła drzwiami i oknami.  
            </p>
            <p>
            W 1993 roku wraz z dwoma kolegami z PPS Czarkiem Miżejewskim i Andrzejem Lipskim weszliśmy do Sejmu z ramienia PPS w ramach szerszej koalicji zwanej Sojusz Lewicy Demokratycznej. Szybko jednak zorientowaliśmy się, że SLD prowadzi politykę neoliberalną i antyspołeczną. Efektem był nasz bunt i powstanie Koła Parlamentarnego PPS. Kością niezgody była między innymi ustawa o najmie lokali (tzw. Lex Blida) która pozwalała na eksmitowanie wprost na bruk każdego, od dziecka po inwalidę. Wtedy też zaczęły się prowadzone przeze mnie pierwsze blokady eksmisji. W czasie pełnienia mandatu poselskiego w latach 1993-2001 miałem zaszczyt pełnić funkcję przewodniczącego Rady Naczelnej PPS. 
            </p>
            <p>
            Po nieudanej próbie zarejestrowania w 2001 roku list wyborczych PPS do Sejmu w całym kraju, zająłem się działalnością społeczną, tworząc Kancelarię Sprawiedliwości Społecznej, organizacji, która pomaga ludziom zagrożonym lub dotkniętym wykluczeniem społecznym. Działam tam wspólnie z grupą wspaniałych i oddanych sprawie Sprawiedliwości Społecznej osób,  wśród nich z Agatą Nosal-Ikonowicz, moją żoną, towarzyszką pracy i walki. 
            </p>
            <div class="aboutme-img">
                <img data-og="ogimg" src="https://drive.google.com/uc?export=view&id=1X-r6KhIrzKzaEl8s2D1G9TsB_vXK06pF">
                <p>członkowie Ruchu Sprawiedliwości Społecznej w drodze by blokować eksmisję <span>/fot.prywatna kolekcja RSS</span></p>
            </div>
            <p>
            Po wielu latach występowania w sądach, negocjowania w imieniu naszych podopiecznych i blokowania eksmisji, doszliśmy do wniosku, że samo pomaganie to za mało, że trzeba zmienić system na taki, który respektuje konstytucyjną zasadę Sprawiedliwości Społecznej. Stąd narodził się Ruch Sprawiedliwości Społecznej, partia polityczna ludzi pracy. Momentem, który pozwolił nam założyć partię było moje aresztowanie za blokadę eksmisji w 2013 roku. Zostałem niesłusznie posądzony o rzekome pobicie właściciela kamienicy, z której eksmitował na bruk parę starszych ludzi, i za to skazany. Ponieważ nie poddałem się karze ograniczenia wolności sąd nakazał osadzenie mnie w areszcie na 90 dni. Podczas pobytu w areszcie podjąłem protest głodowy w intencji zmiany ustawy, która dopuszczała eksmisje na bruk. Pod murami więzienia w namiocie głodowała moja żona Agata. Nasz protest trwał dwa tygodnie i skupił wokół naszego środowiska bardzo wiele wspaniałych osób. 
            </p>
            <p>
            Mam 62 lata, czworo dzieci i wspaniałą żonę. Utrzymuję rodzinę z pisania artykułów prasowych. Jestem przewodniczącym Ruchu Sprawiedliwości Społecznej i wolontariuszem w Kancelarii Sprawiedliwości Społecznej. Obecnie kandyduję na urząd prezydenta Warszawy, bo chcę stolicy sprawiedliwej i równej dla wszystkich, takiej, która nikogo nie wyklucza.
            </p>
            <div class="aboutme-img">
                <img data-og="ogimg" src="https://drive.google.com/uc?export=view&id=1Js9hDMp9jwfT5QFkzF1e5jBkEZoAZcKt">
            </div>

        </div>
    {% endblock %}