{% extends "layouts/default.njk" %}

<div class="board">
    <span class="board-grid"></span>
    <span class="board-grid"></span>
    <span class="board-grid"></span>
    <span class="board-grid"></span>
    <span class="board-grid"></span>
    <span class="board-grid"></span>
    <span class="board-grid"></span>
    <span class="board-grid"></span>
</div>