{% extends "layouts/default.njk" %}

{% block content %}
<div class="medialinks grid-container news">

     <div class="news-event">
          <img src="https://lh3.googleusercontent.com/_1lNRfl3jl8rPbgckgBytmBdVHQlBNjBn6f4yPNd1jhxlitFhs3UeEOUviNVedOwEw-wDZchFbjmmdrLvFWZHu4ON4Lq3PUu11BGViFJEdYvf5fHskrSoKreytF7f9XPFKBV6mxYsxarH0t7OlOq47E3ffISa9otiPuQq96eMwCQ76V1lmk41NPeT6FVdQtOH3mYRW_tj9NpPRDTgGnyuHtVq0D5pz4EOhyFFqAD4FD3ovKAtuPaqRhTUUmadVgwyPcyojAe4rOLyAX5M-0QrnA-JGpXBGYcrPZnqv6T8dK1RjxtXonf9csmwj1ZFgace3h772pkmZ1xhTWhL37rhHH5KxyYxbI4_zn92BBiNg0yFxSwb6iRqe8Bc0GGI7u2OHM3kSqZmkJBZW5A_XWJyXPzqsjNzGeXFOdN4M6qBb2tQk4tHcr48mLIm8djDx3iSN_SCeBCx9wA9YVLbxznXikJsRIQPA0mv9B05xY2zZ3X9nKZG0YXK8vYfeBm83G0nxhQNy1K8WalaXC1xbkMETRKojTVMzjM3tQiToXC-PSWECKiEL6yoh-xA2vQIGQ3LqTIjPe7P-6NA8dV_wWyhqGZhq3X5FMoU-RieQ=w671-h947-no">
     </div>

</div>
{% endblock %}