{% extends "layouts/default.njk" %}
	{% block content %}
          <div class="pubs-single grid-container">
                <div data-og-num="4"></div>
               <div class="article-header">
                    <h2 data-og="ogtitle">Mamy co robić</h2>
               </div>
               <div class="pubs-single-content">
                    <p>
                        Zadzwonił pan Wacław (74 lata) z Wrocławia. Uległ wypadkowi drogowemu i pół roku spędził w szpitalu. Tymczasem dług czynszowy rósł. Po wyjściu ze szpitala nie był w stanie pracować więc żył z zasiłków z pomocy społecznej po 400-500 zł miesięcznie.  Co miesiąc na poczet czynszu płaci 100 zł. Bo tylko tyle może. Do wypracowania okresów składkowych uprawniających do emerytury brakuje mu 7 miesięcy pracy. Udokumentowane ma 24 lata pracy zawodowej. Ale w wyniku doznanych obrażeń stał się niezdolny do pracy. Więc miasto Wrocław kazało mu opuścić zajmowane mieszkanie. Dług czynszowy wynosi 10 000 zł.  Problemy są tu dwa. Jak wymóc na ZUS-ie żeby się zlitował i przyznał mu jakąś rentę? I jak zdobyć te 10 000 zł, albo przekonać miasto by dług darowało bo dłużnik miał po prostu pecha i nie ze swojej winy pozostał bez środków do życia a teraz jeszcze grozi mu bezdomność. 
                    </p>
                    <p>
                        <span data-og="ogdesc">Na nasze zebranie przybyli mieszkańcy Baranowa. Ma tam być mega lotnisko. Jednak ponad 84% mieszkańców w referendum odrzuciło ten pomysł. Czuja się jak Indianie, których biali wypędzają z ich ziemi. Rolnik, który wziął sprzęt rolniczy na kredyt nie pokryje rat za kombajn z odszkodowania. Zresztą po co mu kombajn skoro nie będzie już miał ziemi. Decyzja o budowie gigantycznego portu lotniczego w miejscu gdzie są ziemie orne klasy I i II, zapadła praktycznie bez jakiejś debaty publicznej.</span> Nikt nie wie niby dlaczego ta warta 50 miliardów inwestycja miałaby nam się opłacać. Nikt nie przedstawił żadnych choćby przybliżonych wyliczeń. A koszt społeczny to złamanie oporu i złamanie życia 7000 ludzi. W Chinach czy Rosji nikt by sobie taką garstką nie zawracał głowy. Ale tu jest podobno demokracja i Unia Europejska. Obiecaliśmy pomóc w wywołaniu sensownej debaty publicznej na te temat. 
                    </p>
                    <p>
                        Wreszcie przyszła do nas Jadzia. Matka, która straciła dziecko bo nie było w Polsce szans na przeszczep serca małemu dziecku. Pokazała reportaż i opowiedziała dlaczego w Polsce dzieci z wadą serca, która wymaga transplantacji maja szans.  Wykazała się ogromna wiedzą, żelazną logiką i niesamowitą wolą walki. Już nie o swoje dziecko, ale o te wszystkie, która będzie można jeszcze uratować, jeżeli państwo polskie zacznie to obchodzić. 
                    </p>
                    <p>
                        Pod koniec długiego dnia zadzwoniła jeszcze pani Iza z Sochaczewa. Spłaciła już dług czynszowy i teraz trzeba doprowadzić do rozmowy z panem burmistrzem by zamiast eksmitować nieszczęsną kobietę, zawarł z nią ponownie umowę najmu, bo długu, który miał uzasadniać eksmisję już nie ma.  Mamy co robić. 
                   </p>
                    
                    <div class="btn-group">
                         <a href="pubs.html" class="pubs-cont-readmore">Czytaj inne</a>
                         <a id="fb-share" class="">
                              <img src="images/icons/fb.svg">share
                         </a>
                    </div>

               </div>
          </div>
{% endblock %}