{% extends "layouts/default.njk" %}
	{% block content %}
          <div class="pubs-single grid-container">
               <div class="article-header">
                    <h2>Reprywatyzacja: ułaskawienia nie będzie</h2>
               </div>
               <div class="pubs-single-content">
                    <p>
                         Strach. Bezradność. Niedowierzanie. To pierwsze uczucia jakie towarzyszą informacji, że budynek, w którym mieszkają nie należy już do miasta tylko do prywatnego właściciela.  Kiedy w 1995 roku prezentowałem w Sejmie w imieniu Polskiej Partii Socjalistycznej projekt ustawy o wygaśnięciu roszczeń reprywatyzacyjnych nawet nam się nie śniło, że sądy do spółki z samorządami będą oddawać kamienice z lokatorami potomkom przedwojennych właścicieli. Nam chodziło o to by ci spadkobiercy nie dostali zbyt wielkich odszkodowań. By nie wydawano z budżetu pieniędzy potrzebnych na zasiłki, służbę zdrowia, drogi, na napychanie kieszeni ludziom, których jedyną „zasługą” było tzw. dobre urodzenie. To, że ich przodkowie byli bogaci. Gdy broniłem przed Sejmem naszej ustawy nie było jeszcze znane pojęcie handlarzy roszczeń.  My, socjaliści byliśmy przeciwni zarówno prywatyzacji jak i reprywatyzacji. 
                    </p>
                    <p>
                         W końcu wojna a także okres Polski Ludowej pozostawiły rachunki krzywd, strat i wyrzeczeń, które dotyczyły milionów ludzi i wybranie sposród tych milionów wąskiej grupy spadkobierców i wyrównywanie krzywd tylko im, wydawało nam się i wciąż wydaje się czymś niemoralnym. W końcu „cały naród odbudowywał stolicę”. A nikt jakoś nie wspomina o zwrocie pieniędzy tym, którzy niekoniecznie dobrowolnie składali się na tę odbudowę. Te pieniądze posłużyły podniesieniu z ruin kamienic, podobnie jak społeczna praca setek tysięcy ludzi, którzy nie byli ich właścicielami. Pomysł, że będzie się te odbudowane z ruin domy oddawać jaśnie państwu bez obciążenia ich kosztami odbudowy, renowacji i konserwacji, albo że będzie się im wypłacać odszkodowania po cenie współczesnej, a nie z dnia nacjonalizacji, jest zwykłym przekrętem. To część znanej nam od początku transformacji balcerowiczowskiej strategii prywatyzacji zysków i nacjonalizacji strat. 
                    </p>
                    <p>
                         Zaraz po wojnie mało kto wierzył, że Warszawę można odbudować. Bo w istocie chodziło raczej o jej wybudowanie na nowo. Ludzie, którzy zjeżdżali z całej Polski na to morze ruin byli bohaterami.  Dzięki uporowi, wyobraźni i odwadze dźwignęli z ruin naszą stolicę. Wśród nich byli dziadkowie, ojcowie dzisiejszych lokatorów. Tych, którzy dziś oddawani są potomkom właścicieli, handlarzom roszczeń, cwanym spółkom i kancelariom jak uciążliwy dodatek do kosztowenej rzeczy jaką jest kamienica, grunt, nieruchomość. Mamy za sobą wiele lat czyszczenia tych kamienic, wypychania komunalnych dawniej lokatorów z prywatnej własności ludzi, którzy dzięki reprywatyzacji stawali się multimilionerami, choć palcem nigdy nie kiwnęli, żeby te domy dziasiaj stały i nadawały się do zamieszkania. 
                    </p>
                    <p>
                         Proceder ten nigdy nie doczekałby się specjalnej komisji i medialnego nagłośnienia gdyby nie fakt, że tak olbrzymie zyski skusiły wielu do nabywania kamienic na drodze pospolitych przestepstw, wyłudzeń, fałszserstw czy sprzecznych z prawem postanowień sądowych.  
                         Bo przecież to nie krzywda lokatorów oddawanych bezdusznie w ręce spdakobierców przedwojennych właścicieli sprawiła, że partia rządząca zajęła się warszawską reprywatyzacją.  Reprywatyzacja i związane z nią nadużycia okazały się znakomitą okazją do odebrania Platformie Obywatelskiej Warszawy.  I do tego ograniczał się początkowo projekt, który doprowadził do powstania Komisji Weryfikacyjnej z Patrykiem Jakim na czele. Ofiary, ludzie dręczeni, zadłużeni, pozbawieni dachu nad głową nie mieli się doczekać żadnych rekompernsat czy odszkodowań. Krzywdy postanowiono piętnować, wylewano nad nimi krokodyle łzy, ale żaden z poszkodowanych, a w samej tylko Warszwie chodzi o dziesiątki tysięcy rodzin, nie miał dostać zadośćuczynienia. Bo w Rzeczpospolitej Polskiej rządzonej na przemian przez PiS i PO było czymś oczywistym wynagradzanie domniemanych krzywd sprzed 70 lat, ale  naprawianie krzywd wyrządzonych współcześnie nie wchodziło w rachubę. 
                   </p>
                   <p>
                         Jak ogłosił niedawno poseł PiS Jacek Sasin, Polski nie stać na wypłacanie odszkodowań potomkom właścicieli kamienic. O wypłacaniu odszkodowań ofiarom dzikiej reprywatyzacji Sasin nie wspomniał, bo mu to w ogóle nie przyszło do głowy. Pozostanie więc tak jak było. Kamienice będą zwracane z lokatorami. Lokatorzy będą zmuszeni do naprawiania z własnej kieszeni historycznych krzywd poprzez płacenie wysokich czynszów, na które ich nie stać. Będą się zadłużać i lądować na ulicy. 
                    </p>
                    <p>
                         Bardzo długo, kiedy tylko miałem okazję mówić o reprywatyzacji i działaniach komisji Patryka Jakiego, która piętnowała, odbierała, nakładała kary i gromiła reprywatyzacyjnych przekręciarzy, głosiłem tezę, że to wszystko nie ma sensu jak długo władza nie zdecyduje się na uchwalenie ustawy, która kończy ze zwracaniem spadkobiercom mienia w naturze, kamienic z lokatorami.  Wiedziałem, że prawicowy PiS, ze swym przywiązniem do świętego prawa własności, i uwielbieniem dla II Rzeczpospolitej nigdy się na taki krok nie zdecyduje.

                    </p>
                    <p>
                         Aż tu pewnego razu stał się cud. Patryk Jaki, wiceminister rządu PiS ogłosił projekt ustawy, którego główną zaletą była rezygnacja ze zwracania mienia w naturze. Ustawa ograniczała krąg osób, które uzyskają odszkodowania do spadkobierców w prostej linii i obywateli polskich. Wykluczono z tego kręgu handlarzy roszczeń. Przyjęto natomiast dość szczodry poziom odszkodowań. 
                    </p>
                    <p>
                    Bardzo się ucieszyliśmy. Bo choć rząd wciąż nie przewidywał wynagrodzenia ofiar reprywatyzacji, to przynajmniej mogliśmy odetchnąć z ulgą, że nie będzie więcej ofiar. Miliony polskich ropdzin mogło odetchnąć z ulgą. Nikt ich już nie przejmie z nieruchomością, nikt nie będzie prowadził absurdalnie uciążliwych prac remontowych, podrzucał szczurów i insektów pod drzwi, nikt nie zażąda astronomicznych czynszów i nie wyrzuci na ulicę. 
                    </p>
                    <p>
                    Jednak radość ta trwała zaledwie kilka miesięcy. Pierwsze warknęły duże kancelarie prawnicze w USA, które zapowiadały zaskarżenie ustawy Jakiego do międzynarodowych trybunałów. Na te same trybunały powołał się poseł Sasin, kiedy zapowiedział, że ustawy Jakiego nie będzie. 
                    </p><p>
                    Kiedy głosiłem, że PiS nie zdobędzie się na powstrzymanie reprywatyzacji, utrzymywałem, że lobby (mafia) reprywatyzacyjne jest potężniejsze od państwa polskiego i z pewnością zdoła dalej gromadzić zyski kosztem naszego kraju i społeczeństwa. Niestety moje słowa okazały się prorocze. 
                    </p><p>

                    I nic to, że Czesi przjęli bardzo podobną ustawę i płacą jedynie odszokodowania po odliczeniu kosztów amortyzacji, co nie pociągnęło za sobą żadnych reperkusji międzynarodowych. Poseł Sasin i frakcja liberalna w PiS z premierem na czele już zdecydowali. Oddawanie kamienic z lokatorami będzie trwać nadal. 
                    </p><p>
                    Ostatnie wydarzenia, ustawa o IPN i wypowiedź Morawieckiego o „żydowskich sprawcach holokaustu” potwierdziły, że rząd zamierza grać cynicznie rozniecając anty-semickie nastroje. Jednocześnie ten sam rząd ulega presji państwa Izrael w sprawie reprywatyzacji. Na próżno Patryk Jaki skarży się, że pani ambasador Izraela nachodzi go z protestami przeciw ustawie. Rząd ulega tej presji, a jednocześnie premier wygłasza dla przykrycia tegto faktu obrzydliwie i absurdalnie antysemickie oskarżeniua. Stara się pomieszać sprawców z ofiarami holokaustu.
                    </p><p>

                    Nowe ofiary. Ofiary reprywatyzacji skazano bez mrugnięcia okiem na biedę i bezdomność. Władza, która nie potrafiła uszanować ofiar holokaustu jest wystarczająco podła by rzucić własnych obywateli na pożarcie reprywatyzatorom. 
                    </p><p>
                    Mało kto może teraz spać spokojnie. Do każdego może w drzwi załomotać jakiś potomek właścicieli choćby gruntu. Ułaskawienia, które obiecał nam Patryk Jaki nie będzie. Więc teraz nam socjalistom przyjdzie walczyć o ustawę, na którą przecież prezes Kaczyński już raz się zgodził.
                    </p>



                   <a href="pubs.html" class="pubs-cont-readmore">Czytaj inne</a>
               </div>
          </div>
{% endblock %}