{% block content %}
    <div class="construction grid-container">
        <div class="construction-content">
            <p>dział w budowie</p>
            <span>zapraszamy wkrótce</span>
        </div>
    </div>
    {% endblock %}