{% block content %}
<footer>
    <div class="main-section">
        <div class="logo-holder">
            <span class="name">Piotr</span> <span>Ikonowicz</span>
        </div>
        <div class="main-section-footer">
            <div class="main-section-footer-group">
                <p>Work with us</p>
                <span>Lorem ipsum lorem iposum
                    Lorem ipsum lorem iposum
                    Lorem ipsum lorem iposum
                </span>
            </div>

            <div class="main-section-footer-group">
                <p>Work with us</p>
                <span>Lorem ipsum lorem iposum
                    Lorem ipsum lorem iposum
                    Lorem ipsum lorem iposum
                </span>
            </div>

            <div class="main-section-footer-group footer-contact">
                <p>Kontakt</p>
                <span> 
                    <span>ul. Yolo 21 Warszawa</span>
                    <span>yolo@yolo.com</span>
                    <span>tel: + 34 987 567 123</span>
                    <p>
                    <a href="https://web.facebook.com/piotr.ikonowicz" target="_blank">
                        <img src="images/icons/fb.svg">
                    </a>
                    <a href="https://twitter.com/piotrikonowicz1" target="_blank">
                        <img src="images/icons/twitter.svg">
                    </a>
                    </p>
                </span>
            </div>
        </div>
    </div>
</footer>
{% endblock %}