{% block content %}
<footer>
    <div class="main-section">
        <div class="logo-holder">
            <span class="name">Piotr</span> <span>Ikonowicz</span>
        </div>
        <div class="main-section-footer">
            <div class="main-section-footer-group">
                <p>Work with us</p>
                <span>Lorem ipsum lorem iposum
                    Lorem ipsum lorem iposum
                    Lorem ipsum lorem iposum
                </span>
            </div>

            <div class="main-section-footer-group footer-contact">
                <p>KONTAKT KSS</p>
                
                <span>
                    <p>ul. Jarocińska 2, Warszawa</p>
                    <p>mail @@</p>
                    <p>tel: + 22 22 610 07 72</p>
                    <p>czwartek, 11.00 - 15.00</p>
                </span>
            </div>

            <div class="main-section-footer-group footer-contact">
                <p>Kontakt RSS</p>
                <span> 
                    <p>ul. Elektoralna 26,  Warszawa</p>
                    <p>inicjatywa.rss@gmail.com</p>
                    <p>tel: + 22 400 63 68</p>
                    <p>pon - pt, 11.00 - 17.00</p>
                    <p>
                    <a href="https://web.facebook.com/piotr.ikonowicz" target="_blank">
                        <img src="images/icons/fb.svg">
                    </a>
                    <a href="https://twitter.com/piotrikonowicz1" target="_blank">
                        <img src="images/icons/twitter.svg">
                    </a>
                    </p>
                </span>
            </div>
        </div>
    </div>
</footer>
{% endblock %}