{% block content %}
<footer id="contact-target">
    <div class="main-section">
        {# <div class="logo-holder">
            <span class="name">Piotr</span> <span>Ikonowicz</span>
        </div> #}
        <div class="main-section-footer">

            <div class="main-section-footer-group footer-contact">
                <p>KANCELARIA SPRAWIEDLIWOŚCI SPOŁECZNEJ</p>
                
                <span>
                    <p>ul. Jarocińska 23, 04-171 Warszawa</p>
                    <p>tel: + 22 610 07 72</p>
                    <p>czwartek&nbsp&nbsp11.00–15.00</p>
                </span>
            </div>

            <div class="main-section-footer-group footer-contact">
                <p>RUCH SPRAWIEDLIWOŚCI SPOŁECZNEJ</p>
                <span> 
                    <p>ul. Elektoralna 26,  Warszawa</p>
                    <p>inicjatywa.rss@gmail.com</p>
                    <p>tel: + 22 400 63 68</p>
                    <p>pon–pt&nbsp&nbsp11.00–17.00</p>
                    <p>
                    <a href="https://web.facebook.com/piotr.ikonowicz" target="_blank">
                        <img src="images/icons/fb.svg">
                    </a>
                    <a href="https://twitter.com/piotrikonowicz1" target="_blank">
                        <img src="images/icons/twitter.svg">
                    </a>
                    </p>
                </span>
            </div>
        </div>
    </div>
</footer>
{% endblock %}