{% block content %}
<header>
    <nav>
        <div class="grid-container">
            <div class="main-navigation-logo">
                <p>Piotr Ikonowicz</p>
            </div>
            <div class="main-navigation">
                <a href="#">Media o nas <span></span></a>
                <a href="#">Spacer po Warszawie <span></span></a>
                <a href="#">O mnie <span></span></a>
                <a href="#">O partii <span></span></a>
                <a href="#">kontakt <span></span></a>
            </div>
        </div>
    </nav>
</header>
{% endblock %}