{% block content %}
<header>
    <nav>
        <div class="grid-container nav--white">
            <div class="main-navigation-logo">
                <a href="index.html">Piotr Ikonowicz</a>
            </div>
            <div class="main-navigation">
                <a href="pubs.html">felietony<span></span></a>
                <a href="news.html">Aktualności <span></span></a>
                <a href="media.html">media o nas<span></span></a>
                <a href="party.html">Spacer po Warszawie <span></span></a>
                <a href="party.html">O mnie <span></span></a>
                <a id="contact-link">kontakt <span></span></a>
            </div>
            {# <div class="mobile-show-btn"> #}
            <div class="hamburger" id="hamburger-1">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
            </div>
            {# </div> #}
            <div class="main-navigation-mobile-show" id="mobile-menu">
                <a href="pubs.html">felietony<span></span></a>
                <a href="news.html">Aktualności<span></span></a>
                <a href="media.html">media o nas<span></span></a>
                <a href="party.html">Spacer po Warszawie <span></span></a>
                <a href="party.html">O mnie <span></span></a>
                <a id="contact-link">kontakt <span></span></a>
            </div>
        </div>
        <div class="recentnews-navigation">
            <div class="grid-container">
                <div class="recentnews-navigation-sign">
                    <a href="news.html" class="link">Z ostatniej chwili</a>
                </div>
                <a href="news.html" class="recentnews-navigation-event">
                    <p>protest w obronie handlu ulicznego</p>
                    <img src="https://lh3.googleusercontent.com/Qs_w7asG21h2t12lXbmKNHAUvVW0HJgS15ksKhkxTN_sVCcCBDaBuEHVyHr1AWT2wTcbk0g4=w328-h225-no">
                </a>
            </div>
        </div>
    </nav>
</header>
{% endblock %}