{% block content %}
<header>
    <nav>
        <div class="grid-container">
            <div class="main-navigation-logo">
                <p><a href="index.html">Piotr Ikonowicz</a></p>
            </div>
            <div class="main-navigation">
                <a href="pubs.html">publikacje<span></span></a>
                <a href="party.html">Spacer po Warszawie <span></span></a>
                <a href="party.html">O mnie <span></span></a>
                <a href="party.html">O partii <span></span></a>
                <a id="contact-link">kontakt <span></span></a>
            </div>
        </div>
    </nav>
</header>
{% endblock %}